<%= form_with(model: trip, local: true) do |f| %>
  <% if trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

      <ul>
      <% trip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :verified %>
  <%= f.text_field :verified, placeholder: "Enter username", autofocus: true %>

  <%= f.label :destination %>
  <%= f.text_field :destination, placeholder: "Enter name" %>

  <%= f.label :image %>
  <%= f.file_field :image, placeholder: "Enter last name" %>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
