<%= form_with(model: trip, local: true) do |form| %>
  <% if trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

      <ul>
      <% trip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :verified %>
  <%= f.text_field :verified, placeholder: "Enter username", autofocus: true %>

  <%= f.label :name %>
  <%= f.text_field :name, placeholder: "Enter name" %>

  <%= f.label :lastname %>
  <%= f.text_field :lastname, placeholder: "Enter last name" %>

  <%= f.label :email %>
  <%= f.email_field :email, placeholder: 'Enter email'%>

  <%= f.label :password %>
  <%= f.password_field :password, placeholder: "Enter password", class: "form-control", type: "text"%>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
