<div class="row">
  <div class="col s6 m6 offset-s3 offset-m3">
    <div class="card z-depth-3">
      <h1 align="center" style="font-family: 'radnika'; padding: 2vh;"><%=@trip.destination %> Trip</h1>
    </div>
  </div>
</div>
<% if @trip.startDate > Time.now %>
<div class="row">
    <div class="col s6 m6 offset-s3 offset-m3">
      <div class="card z-depth-3">
        <div class="card-image">
          <% if @trip.image_file_name.nil? %>
            <%= image_tag 'defaultImage.jpeg' %>
          <% else %>
            <% @trip.image%>
          <% end %>

        </div>
        <div class="card-content" align="center">
          <p style="font-family: 'radnika'; font-size: 1.25em;">This trip to the <%=@trip.destination %> took place from <%=@trip.startDate %> to <%=@trip.returnDate %>.</p>
          <% if !@trip.verified%>
          <p style="font-family: 'radnika'; font-size: 1.25em;">This trip has not been verified.</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% else %>
<div class="row">
  <div class="col s6 m6 offset-s3 offset-m3">
    <div class="card-panel">
        <span class="black-text">
          Time until <%=@trip.destination %> trip
        </span>
    </div>
  </div>
  <div class="row">
      <div class="col s6 m6 offset-s3 offset-m3">
        <ul class="collection">
          <% for i in 0...3%>
    <li class="collection-item avatar">
      <i class="material-icons circle">folder</i>
      <span class="title">Activity <%=i+1%></span>
      <p><%=@trip.venue_holder[i].category %> activity <br>
         at <%=@trip.venue_holder[i].location %>, <%=@trip.venue_holder[i].city%>
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
    <% end %>
    
      </div>
  </div>

<% end %>
