<div class="row">
  <div class="col s6 m6 offset-s3 offset-m3">
    <div class="card z-depth-3">
      <h1 align="center" style="font-family: 'radnika'; padding: 2vh;"><%=@trip.destination %> Trip</h1>
    </div>
  </div>
</div>
<% if @trip.startDate < Time.now %>
  <div class="row">
    <div class="col s6 m6 offset-s3 offset-m3">
      <div class="card z-depth-3">
        <div class="card-image">
          <% if @trip.image_file_name.nil? %>
            <%= image_tag 'defaultImage.jpeg' %>
          <% else %>
            <%= image_tag @trip.image.url %>
          <% end %>

        </div>
        <div class="card-content" align="center">
          <p style="font-family: 'radnika'; font-size: 1.25em;">This trip to the <%=@trip.destination %> took place from <%=@trip.startDate %> to <%=@trip.returnDate %>.</p>
          <% if !@trip.verified%>
          <p style="font-family: 'radnika'; font-size: 1.25em;">This trip has not been verified.</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>

<% else %>
  <div class="row">
    <div class="col s6 m6 offset-s3 offset-m3">
      <div class="card-panel">
        <span class="black-text" style="font-family: 'radnika'; font-size: 1.5em;">Time until <%=@trip.destination %> trip:<br>
          <%seconds = (@trip.startDate.to_time.to_i-Time.now.to_i)%>
          <%= (seconds/(24*3600)).round%> days and <%=((seconds/(24*3600))/3600).round%> hours remaining
        </span>
      </div>
    </div>

  <div class="row">
    <div class="col s6 m6 offset-s3 offset-m3">
      <div class="card-panel">
        <div class="row">
          <%= link_to 'Cancel Trip', trip_path(@trip), class: "col s4 m4 offset-s4 offset-m4 btn red darken-4", style: "color: white !important; text-tranform: none !important;", method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col s6 m6 offset-s3 offset-m3">
    <div class="card-panel">
      <div class="row">
        <%= link_to 'Add Images', edit_trip_path(@trip), class: "col s4 m4 offset-s4 offset-m4 btn green", style: "color: white !important; text-tranform: none !important;" %>
      </div>
    </div>
  </div>
</div>
