<h1><%= @trip.venue_holder.first.name %></h1>
<div class="row">
  <div class="col s6 m6 offset-s3 offset-m3">
    <div class="card z-depth-3">
      <h1 align="center" style="font-family: 'radnika'; padding: 2vh;"><%=@trip.destination %> Trip</h1>
    </div>
  </div>
</div>
<% if @trip.startDate < Time.now %>

  <div class="row">
    <div class="col s6 m6 offset-s3 offset-m3">
      <div class="card z-depth-3">
        <div class="card-image">
          <% if @trip.image_file_name.nil? %>
            <%= image_tag 'defaultImage.jpeg' %>
          <% else %>
            <%= image_tag @trip.image.url %>
          <% end %>

        </div>
        <div class="card-content" align="center">
          <p style="font-family: 'radnika'; font-size: 1.25em;">This trip to the <%=@trip.destination %> took place from <%=@trip.startDate %> to <%=@trip.returnDate %>.</p>
          <% if !@trip.verified%>
          <p style="font-family: 'radnika'; font-size: 1.25em;">This trip has not been verified.</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s6 m6 offset-s3 offset-m3">
      <div class="card z-depth-3">
        <div class="card-image">
          <% if @trip.image_one_file_name.nil? %>
            <%= image_tag 'defaultImage.jpeg' %>
          <% else %>
            <%= image_tag @trip.image_one.url %>
          <% end %>

        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s6 m6 offset-s3 offset-m3">
      <div class="card z-depth-3">
        <div class="card-image">
          <% if @trip.image_two_file_name.nil? %>
            <%= image_tag 'defaultImage.jpeg' %>
          <% else %>
            <%= image_tag @trip.image_two.url %>
          <% end %>

        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s6 m6 offset-s3 offset-m3">
      <div class="card z-depth-3">
        <div class="card-image">
          <% if @trip.image_three_file_name.nil? %>
            <%= image_tag 'defaultImage.jpeg' %>
          <% else %>
            <%= image_tag @trip.image_three.url %>
          <% end %>

        </div>
      </div>
    </div>
  </div>

<% else %>
<div class="row">
  <div class="col s6 m6 offset-s3 offset-m3">
    <div class="card-panel">
        <span class="black-text">
          Time until <%=@trip.destination %> trip
        </span>
    </div>
  </div>
 

<% end %>
