<% trip = !@user.trips.last.nil? ? @user.trips.last : nil%>
<% if !trip.nil? && (trip.startDate < Time.now && Time.now < trip.returnDate) %>
  <% location = UserLocation.get_country(current_user, trip.destination, request.remote_ip) %>
  <% if !location.nil? && location == trip.destination %>
    <% trip.verified = true %>
    <% trip.save %>
  <% end %>
<% end %>

<% if !trip.nil? && trip.startDate > Time.now%>
<div class="row" style=";">
  <div class="col s4 m4 offset-s4 offset-m4">
    <div class="card" align="center" text-align="center">
      <p style='padding: 5vw; font-family: "radnika"; font-size: 1.8em;'>Upcoming trip to <%=trip.destination%></p>
    </div>
  </div>
</div>
  <div class="row" style="">
    <div class="col s4 m4 offset-s4 offset-m4">
      <div class="card">
        <div class="card-image">
            <% img_url = "defaultImage.jpeg" %>
          <% img_url = trip.destination + '.png' unless Rails.application.assets.find_asset(trip.destination + '.png').nil? %>
          <%= image_tag img_url, class: "circle secondary-content" %>
          <span class="card-title"><%=trip.destination%></span>
        </div>
        <div class="card-content">
          <p style="font-family: 'radnika'">
          <% seconds = (trip.startDate.to_time.to_i-Time.now.to_i)%>
          <%=(seconds/(24*3600)).round%> days and <%=((seconds/(24*3600))/3600).round%> hours remaining till departure
          </p>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="row" style="padding-top: 10vh;">
  <div class="col s2 m8 offset-s2 offset-m2">
    <div class="card horizontal z-depth-3" style="background-color: #fffff">
      <div class="card-image">
        <%= image_tag 'avatar.png', style: 'width: 300px; height: 300px; padding: 30px;' %>
      </div>
      <div class="card-stacked">
        <div class="card-content" align="center"">
          <p style="color: #202221; font-size: 2em; margin-top: 1vh;"><%= @user.name %></p>
        </div>
        <p style="color: #202221; font-size: 1.5em; font-family: 'radnika'; margin-top: 1vh;">Badges</p>
        <div class="row">
            <%= image_tag 'one.png', class: "col s2 m2", style: '' %>
            <%= image_tag 'two.png', class: "col s2 m2", style: '' %>
            <%= image_tag 'three.png', class: "col s2 m2", style: '' %>
            <%= image_tag 'four.png', class: "col s2 m2", style: '' %>
        </div>
        <div class="row">
            <%= image_tag 'five.png', class: "col s2 m2", style: '' %>
            <%= image_tag 'six.png', class: "col s2 m2", style: '' %>
            <%= image_tag 'seven.png', class: "col s2 m2", style: '' %>
            <%= image_tag 'eight.png', class: "col s2 m2", style: '' %>
        </div>
        <p style="color: #202221; font-size: 1.2em; margin-top: 1vh;">Member since <%= pluralize(((Time.now - @user.created_at) / 60 / 60).to_i + 1, 'hour')%> ago</p>
        </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s4 m4 offset-s4 offset-m4">
    <div class="card" style="background-color: #fffff">
      <p class="center-align" text-align="center" style="padding: 3vh; font-size: 3em; font-family: 'radnika';">Trips</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s3 m3 offset-s3 offset-m3" align="center">
    <div class="card" style="background-color: #fffff">
      <p class="center-align" text-align="center" style="padding: 3vh; font-size: 1.5em; font-family: 'radnika';">To-do</p>
    </div>

    <ul class="collection" style="overflow:scroll; height: 40vh;">
        <% TripsController.countries.each do |key, value| %>
            <li class="collection-item avatar center-align">
              <% img_url = "defaultImage.jpeg" %>
              <% img_url = key + '.png' unless Rails.application.assets.find_asset(key + '.png').nil? %>
              <%= image_tag img_url, class: "circle secondary-content" %>
              <span class="title"></span>
              <br>
              <p style="font-size: 1.5em; font-family: 'radnika';"><%= key %></p>
            </li>
        <% end %>
    </ul>
  </div>
  <div class="col s3 m3" align="center">
    <div class="card" style="background-color: #fffff">
      <p class="center-align" text-align="center" style="padding: 3vh; font-size: 1.5em; font-family: 'radnika';">Completed</p>
    </div>
    <ul class="collection" style="overflow:scroll; height: 40vh;">
      <% current_user.trips.each do |trip| %>
          <li class="collection-item avatar center-align">
            <%= link_to(trip_path(trip), class: "completed-items") do %>
          <% img_url = "defaultImage.jpeg" %>
          <% img_url = trip.destination + '.png' unless Rails.application.assets.find_asset(trip.destination + '.png').nil? %>
          <%= image_tag img_url, class: "circle secondary-content" %>
              <span class="title"></span>
              <br>
              <p style="font-size: 1.5em; font-family: 'radnika';"><%= trip.destination %></p>
            <% end %>
          </li>
      <% end %>
    </ul>
  </div>
</div>

<div style='padding: 100px;'>

</div>

<div class="row" id="fixed-button">
  <%= link_to trips_path do %>
    <div class="col s12 m12 btn-large valign-wrapper" style="height: 20vh; font-size: 4em; background-color: #202221;">
      <div style="margin-top: 3vh; color: white; font-family: 'radnika';">Go on a trip<p>
    </div>
  <% end %>
</div>
